h1 {
    color: red;
}

body{
    background-color: lightblue;
}

a {
    color:red
}

p {
    font-family: "Lucida Console", "Courier New", monospace;
}

h3 {
    font-family: Fantasy; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
} 
